@import './variables';

.cardContainer {
    width: 100%;
    max-width: 300px;
    border: 3px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
}

.cardContent {
 text-align: center;
 &__image{
     border-radius:10px;
     max-width: 200px;
 }
}
// .common {
//     color: $common;
// }
// .uncommon {
//    color: $uncommon; 
// }
// .rare {
//     color: $rare;
// }
// .mythicalRare {
//     color: $mythicalRare;
// }


.common {
    background: linear-gradient(135deg, #BBBBBB 0%, #FFFFFF 50%, #bbbbbb 100%);
    box-shadow: 5px 5px 5px -5px #000000;
    width: 100%;
    width: 300px;
    border: 2px solid $common;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: #000;
    height: 400px;
}
.uncommon {
    background: linear-gradient(135deg, #A4C8D9 0%, #FFFFFF 50%, #a4c8d9 100%);
    box-shadow: 5px 5px 5px -5px #000000;
    width: 100%;
    width: 300px;
    border: 2px solid $uncommon;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: #000;
    height: 400px;

}
.rare {
    background: linear-gradient(135deg, #dabd79 0%, #FFFFFF 50%, #DABD79 100%);
    box-shadow: 5px 5px 5px -5px #000000;
    width: 100%;
    width: 300px;
    border: 2px solid $rare;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: #000;
    height: 400px;
}
.mythicalRare {
    background: linear-gradient(135deg, #ED8801 0%, #FFFFFF 50%, #ed8801 100%);
    box-shadow: 5px 5px 5px -5px #000000;
    width: 100%;
    width: 300px;
    border: 2px solid $mythicalRare;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: #000;
    height: 400px;

}
