
.content-wrap {
	display: flex;

	aside {
		flex: 1 1 250px;
		max-width: 250px;
		padding-right: 16px;

		nav {
			padding-left: 16px;
			padding-right: 16px;

			h3 {
				color: $primaryColor;
				font-size: 24px;
				margin-bottom: 16px;
			}
         

			a {
				display: block;
				padding: 8px 16px;
				text-align: left;

				color: $primaryColor;
				font-size: 16px;
				margin-bottom: 16px;

				background-color: #EEE;
				border-radius: 999px;
				text-decoration: none;

				transition: 0.4s;

				&:hover {
					// background-color: #313131;
					color: $mainColor;
					// color: #1f1f1f;
					background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
					background-color:#dfdfdf;
				}
				&:active {
					position:relative;
					top:1px;
				}
			}
		}
	}

	main {
		flex: 1 1 0%;
		padding: 0px 16px;

		.pagination {
			display: flex;
			flex-direction: row;
			margin: auto 0;
			order: 1;

			input {
				text-align: center;
				max-width: 70px;
				margin: 5px 10px;
				background: #eee;
				border: none;
				font-weight: bold;
				border-radius: 5px;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			input[type=number] {
			-moz-appearance: textfield;
			}

			p {
				font-size: 3rem;
			}
		}
		.pagination-center {
			justify-content: left;
		}
		.main-head {
			display: flex;
			justify-content: flex-end;

			.search-box {
				display: flex;
				justify-content: flex-end;
				flex: 1 1 0%;
				order: 2;
				
				input {
					appearance: none;
					background: none;
					outline: none;
					border: none;

					display: block;
					width: 100%;
					max-width: 400px;
					padding: 16px;
					border-radius: 999px;
					background-color: #EEE;

					transition: 0.4s;

					::placeholder {
						color: $primaryColor;
					}

					&:focus, &:valid {
						// background-color: #313131;
						// color: #FFF;
					color: #1f1f1f;
					background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
					background-color:#dfdfdf;
					}
				}
			}
		}

		.anime-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 32px;
			margin: 32px -8px 0px;

			.anime-card {
				flex: 1 1 33.333%;
				max-width: 33.333%;
				padding: 16px 8px;

				a {
					text-decoration: none;
				}

				figure {
					display: block;
					margin-bottom: 16px;

					img {
						display: block;
						width: 100%;
						height: 350px;
						object-fit: fill;
						border-radius: 16px;
						box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);

						transition: 0.4s;
					}
				}

				h3 {
					color: $primaryColor;
				}

				&:hover {
					figure {
						img {
							box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
}


  @media screen and (max-width: 990px) {
	.content-wrap {
		display: flex;
	
		aside {
			display:none;
		}
	
		main {
			flex: 1 1 0%;
			padding: 0px 16px;
	
			.main-head {
				display: flex;
				flex-direction: column;
				.pagination {
					order: 2;
					justify-content: center;
				}
				.search-box {
					justify-content: center;
					order: 1;
					margin: 10px;
					
					input {
						text-align: center;
					}
					}
				}
				.anime-list {
					.anime-card {
						flex: 1 1 33.333%;
						max-width: 33.333%;
						padding: 16px 8px;
		
						figure {
							img {
								display: block;
								width: 100%;
								height: 350px;
								object-fit: fill;
								border-radius: 16px;
								box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
								transition: 0.4s;
							}
						}
			
					
				}
			}
		}
	}
  }

  @media screen and (max-width: 770px) {
	.content-wrap {
		display: flex;
	
		aside {
			display:none;
		}
	
		main {
			flex: 1 1 0%;
			padding: 0px 16px;
	
			.main-head {
				
				.search-box {
					justify-content: center;
					}
				}
				.anime-list {
					justify-content: center;

					.anime-card {
						flex: 1 1 40%;
						max-width: 50%;
						padding: 16px 8px;
		
						figure {
							img {
								display: block;
								width: 100%;
								height: 350px;
								object-fit: fill;
								border-radius: 16px;
								box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
								transition: 0.4s;
							}
						}
			
						&:hover {
							figure {
								img {
									box-shadow: none;
									transform: none;
								}
							}
						}
				}
			}
		}
	}
  }

  
  @media screen and (max-width: 500px) {
	.content-wrap {
		display: flex;
	
		aside {
			display:none;
		}
	
		main {
			flex: 1 1 0%;
			padding: 0px 16px;

			button {
				min-width: 80px;
			}
			.main-head {

				.search-box {
					justify-content: center;
					}
				}
				.anime-list {
					justify-content: center;

					.anime-card {
						flex: 1 1 60%;
						max-width: 100%;
						figure {
							img {
								margin: auto;
								width: 80%;

							}
						}
						h3 {
							text-align: center;
							color: $primaryColor;
						}
					
				}
			}
		}
	}
  }